/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
}

.text {
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.red {
  color: #f16d7f;
}

.header {
  background-color: #222222;
}

.logo:hover {
  transform: scale(1.2);
}

.header_controls {
  fill: #fbfbfb;
}

.header_controls:hover {
  fill: #f16d7f;
}

.header_wrapper {
  display: flex;
  align-items: center;
  min-height: 75px;
  justify-content: space-between;
}

.header_logo {
  margin: 0 10px 0 0;
}

.header_button {
  background-color: transparent;
  border: none;
  margin: 0 34px 0 0;
  cursor: pointer;
}

.header_person-link {
  margin: 0 34px 0 0;
}

@media (max-width: 378px) {
  .header_person-link__man,
  .header_person-link__cart {
    display: none;
  }
}

.brand {
  display: flex;
  margin: 0 auto;
  max-width: 1600px;
  margin: 0 auto 76px;
}

@media (max-width: 768px) {
  .brand {
    margin: 0 0 19px 0;
  }
}

.brand .brand_img {
  width: 50%;
  height: auto;
}

@media (max-width: 768px) {
  .brand .brand_img {
    width: 385px;
    height: 370px;
  }
}

@media (max-width: 375px) {
  .brand .brand_img {
    display: none;
  }
}

.brand_title-wrapper {
  padding: 0 0 0 40px;
  background-color: #f1e4e6;
  flex-grow: 1;
  display: flex;
  align-items: center;
}

@media (max-width: 375px) {
  .brand_title-wrapper {
    min-height: 363px;
  }
}

.brand_title {
  font-size: 48px;
  line-height: 58px;
  font-weight: 900;
  font-style: normal;
  text-transform: uppercase;
  color: #222222;
  border-left: 12px solid #f16d7f;
  padding: 0 0 0 16px;
}

@media (max-width: 768px) {
  .brand_title {
    font-size: 44px;
    line-height: 53px;
    font-weight: 900;
    font-style: normal;
  }
}

@media (max-width: 375px) {
  .brand_title {
    font-size: 38px;
    line-height: 45px;
    font-weight: 900;
    font-style: normal;
  }
}

.brand_subtitle {
  font-size: 32px;
  line-height: 38px;
  font-weight: 700;
  font-style: normal;
  display: block;
}

@media (max-width: 768px) {
  .brand_subtitle {
    font-size: 24px;
    line-height: 29px;
    font-weight: 700;
    font-style: normal;
  }
}

@media (max-width: 375px) {
  .brand_subtitle {
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    font-style: normal;
  }
}

.brand_subtitle__pink {
  color: #f16d7f;
}

.navigation {
  position: relative;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  padding: 16px;
  max-width: 262px;
  margin: 0 0 0 auto;
  display: none;
}

.navigation_close {
  border: none;
  background-color: var(--white);
  align-self: flex-end;
}

.navigation_title {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  margin: 0 0 24px 0;
}

.navigation_text {
  font-size: 14px;
  line-height: 17px;
  color: #6f6e6e;
  margin: 10px 11px;
}

.navigation_text:hover {
  color: var(--dark-pink);
}

.navigation_list + .navigation_list {
  margin: 20px 0 0 0;
}

.offers_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.offers_item {
  width: 32%;
  min-height: 264px;
  background-color: #474040;
  color: #fbfbfb;
  margin: 0 0 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 768px) {
  .offers_item {
    width: 32%;
    min-height: 168px;
  }
}

@media (max-width: 375px) {
  .offers_item {
    flex-wrap: wrap;
    width: 100%;
  }
}

.offers_item__woman {
  background-image: url(../img/offers-women.png);
  background-size: cover;
}

.offers_item__man {
  background-image: url(../img/offer-men.jpg);
  background-size: cover;
}

.offers_item__kids {
  background-image: url(../img/offers-kids.jpg);
  background-size: cover;
}

.offers_item__accesories {
  background-image: url(../img/offers-accesories.jpg);
  width: 100%;
  min-height: 181px;
}

.offers_title {
  text-align: center;
  text-transform: uppercase;
}

.offers_subtitle {
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  color: #f16d7f;
  text-align: center;
  text-transform: uppercase;
}

.products {
  margin: 67px auto 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.products_title {
  font-size: 30px;
  line-height: 36px;
  text-align: center;
}

.products_subtitle {
  font-size: 14px;
  line-height: 17px;
  text-align: center;
}

.products_list {
  margin: 48px 0 0 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.products_item {
  width: 32%;
  min-height: 582px;
  display: flex;
  flex-direction: column;
  background-color: #fbfbfb;
  margin: 0 0 30px 0;
}

@media (max-width: 768px) {
  .products_item {
    width: 49%;
  }
}

@media (max-width: 375px) {
  .products_item {
    width: 100%;
  }
}

.products_item_wrapper {
  position: relative;
}

.products_item_wrapper:hover .products_overlay,
.products_item_wrapper:hover .products_addCart {
  display: flex;
}

.products_overlay {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  top: 0;
  position: absolute;
  display: none;
}

.products_img {
  width: 100%;
  height: auto;
}

.products_addCart {
  position: absolute;
  width: 140px;
  display: flex;
  justify-content: center;
  padding: 10px;
  border: 1px solid #fbfbfb;
  font-size: 14px;
  line-height: 17px;
  color: #fbfbfb;
  background-color: rgba(58, 56, 56, 0.86);
  top: 40%;
  left: 33%;
  display: none;
}

.products_addCart:hover {
  transform: scale(1.3);
}

.products_addCart__text {
  margin: 0 0 0 11px;
  align-self: center;
}

.products_card-about {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-grow: 1;
  padding: 0 0 0 16px;
  min-height: 160px;
}

.products_card-title {
  font-size: 13px;
  line-height: 16px;
  text-transform: uppercase;
}

.products_text {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5d5d5d;
}

.products_price {
  font-size: 16px;
  line-height: 19px;
  color: #f16d7f;
}

.products_button {
  font-size: 16px;
  line-height: 19px;
  color: #f16d7f;
  border: 1px solid #f16d7f;
  padding: 14px 39px;
  display: inline-block;
  margin: 10px auto 90px;
}

.products_button:hover {
  background-color: #f16d7f;
  color: #fbfbfb;
}

.attract {
  background-color: #222224;
}

.attract_list {
  display: flex;
  justify-content: center;
}

@media (max-width: 768px) {
  .attract_list {
    flex-direction: column;
    align-items: center;
  }
}

.attract_item {
  width: 360px;
  height: 134px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 100px 2px;
}

.attract_title {
  font-size: 19.96px;
  line-height: 24px;
  color: #fbfbfb;
}

.attract_text {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #fbfbfb;
  text-align: center;
}

.container {
  width: 71%;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .container {
    width: 95%;
  }
}

@media (max-width: 375px) {
  .container .header_person-link__man,
  .container .header_person-link__cart {
    display: none;
  }
}

:root {
  --dark-blue: #222222;
  --pink: #f1e4e6;
  --dark-pink: #f16d7f;
  --brown: #474040;
  --black: #222224;
  --white: #fbfbfb;
}

.subscribe_page {
  background-image: url(../img/subscribe.png);
  background-repeat: no-repeat;
  margin: 0 auto;
  background-size: cover;
}

.subscribe {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 450px;
}

@media (max-width: 768px) {
  .subscribe {
    flex-direction: column;
    padding: 64px 0 219px 0;
  }
}

@media (max-width: 375px) {
  .subscribe {
    flex-direction: column;
    padding: 64px 0 110px 0;
  }
}

.subscribe_face {
  width: 96px;
  height: 96px;
  background-color: #dbd2d2;
  background-image: url(../img/face.jpg);
  text-align: center;
  margin: 0 auto 30px;
  border-radius: 50%;
}

.subscribe_quote {
  flex-grow: 1;
  max-width: 360px;
}

.subscribe_card {
  flex-grow: 1;
}

.quote_text {
  font-size: 20px;
  line-height: 24px;
  text-align: center;
}

.quote_text__italic {
  font-style: italic;
}

.subscribe_title {
  font-weight: bold;
  font-size: 24px;
  line-height: 167.2%;
  text-transform: uppercase;
  text-align: center;
}

.subscribe_subtitle {
  font-weight: normal;
  font-size: 18px;
  line-height: 167.2%;
  text-transform: uppercase;
}

.subscribe_form {
  position: relative;
  margin-top: 32px;
  width: 340px;
  min-height: 49px;
  font-size: 14px;
  line-height: 17px;
}

.subscribe_input {
  min-height: 49px;
  padding: 6px 22px;
  border-top-left-radius: 22px;
  border-bottom-left-radius: 22px;
  border-right: none;
}

.subscribe_button {
  min-height: 65px;
  position: absolute;
  background-color: var(--dark-pink);
  color: var(--white);
  border-left: none;
  padding: 6px 22px;
  border-top-right-radius: 22px;
  border-bottom-right-radius: 22px;
}

.subscribe_button:hover {
  background-color: #fbfbfb;
  color: #f16d7f;
  cursor: pointer;
}

.footer {
  background-color: var(--dark-blue);
  min-height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 375px) {
  .footer {
    flex-direction: column-reverse;
    padding: 43px 0 9px 0;
  }
}

.footer_text {
  font-size: 16px;
  line-height: 19px;
  color: var(--white);
}

.footer_list {
  display: flex;
}

.footer_item {
  width: 32px;
  height: 32px;
  margin: 0 0 0 5px;
}

.footer_link {
  fill: var(--white);
}

.footer_link:hover {
  fill: var(--dark-pink);
}

/* registration */
.preheader {
  min-height: 148px;
  background-color: var(--pink);
  display: flex;
  align-items: center;
}

.preheader_text {
  font-size: 24px;
  line-height: 29px;
  color: var(--dark-pink);
  text-align: left;
  text-transform: uppercase;
}

.registration {
  display: flex;
  margin: 64px auto 96px;
}

@media (max-width: 375px) {
  .registration {
    flex-direction: column;
  }
}

.registration_form {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: var(--black);
  width: 50%;
}

@media (max-width: 375px) {
  .registration_form {
    width: 100%;
  }
}

.registration_input {
  padding: 13px 18px;
}

.registraion_label {
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #b1b1b1;
  margin: 15px auto 39px;
  display: block;
}

.registration_field {
  width: 100%;
  min-height: 149px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.registration_input {
  display: block;
  margin: 20px 0 0 0;
}

.radio_label + .registration_radio {
  margin-left: 20px;
}

.registration_radio {
  margin: 31px 2px 31px 2px;
}

.radio_label {
  margin-right: 20px;
}

.registration_button {
  text-transform: uppercase;
  background-color: var(--dark-pink);
  color: var(--white);
  padding: 12px 50px 12px 12px;
  position: relative;
}

.registration_button__arrow {
  position: absolute;
  top: 13px;
  right: 10px;
}

.information {
  margin: 0 0 0 128px;
  width: 98%;
}

@media (max-width: 768px) {
  .information {
    margin: 0 0 0 22px;
  }
}

@media (max-width: 375px) {
  .information {
    margin: 40px 0 0 0px;
  }
}

.information_title {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 300;
  line-height: 19px;
  letter-spacing: 0em;
}

.information_text {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  margin: 32px 0 22px;
}

.information_list {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
}

.information_item {
  margin: 0 0 16px 28px;
  position: relative;
}

.information_item:before {
  content: url(../img/ok.svg);
  position: absolute;
  left: -28px;
}

/*            cart           */
.cart {
  margin: 96px auto 139px;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .cart {
    flex-direction: column;
    align-items: center;
    margin: 59px auto 96px;
  }
}

.catalog {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 57%;
}

@media (max-width: 768px) {
  .catalog {
    width: 98%;
  }
}

.close {
  background-color: var(--white);
  border: none;
  align-self: baseline;
}

.cart_card {
  display: flex;
  margin-bottom: 40px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.cart_card + .cart_card {
  margin-bottom: 72px;
}

.cart_img {
  width: 41%;
  height: auto;
}

.card-description {
  padding: 22px 31px;
  width: 59%;
}

@media (max-width: 375px) {
  .card-description {
    padding: 5px 5px;
  }
}

.card-description_top {
  display: flex;
  justify-content: space-between;
}

.card-description_title {
  font-size: 24px;
  line-height: 29px;
  margin: 0 0 40px 0;
  max-width: 260px;
}

.card-description_text {
  font-size: 22px;
  line-height: 26px;
  color: #575757;
}

.square {
  margin: 0 0 0 24px;
  border: 1px solid #a4a4a4;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 1px 10px;
}

.cart_button {
  margin: 20px 0 0 0;
  text-transform: uppercase;
  width: 225px;
  padding: 10px 15px;
  font-weight: 300;
  border: 1px solid #474040;
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  background-color: #fbfbfb;
  color: #222224;
  text-decoration: none;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.cart_form {
  width: 32%;
}

@media (max-width: 768px) {
  .cart_form {
    margin: 64px 0 0 0;
    display: flex;
    justify-content: space-between;
    width: 98%;
  }
}

@media (max-width: 375px) {
  .cart_form {
    flex-direction: column;
  }
}

.cart_field {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 272px;
}

@media (max-width: 375px) {
  .cart_field {
    width: 100%;
  }
}

.cart_title {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
}

.grey::placeholder {
  color: #b1b1b1;
}

.cart_sum {
  margin: 57px 0 0 0;
  background-color: #f5f3f3;
  padding: 39px 34px;
  align-self: center;
}

@media (max-width: 375px) {
  .cart_sum {
    width: 100%;
  }
}

.registration_button__width {
  width: 100%;
  padding: 12px 0px 12px 12px;
}

.cart_price {
  text-transform: uppercase;
  font-size: 11px;
  line-height: 13px;
  margin: 0 0 0 20px;
}

.cart_price__big {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
}

.cart_flex {
  justify-content: flex-end;
  display: flex;
  margin: 0 0 12px 0;
}

.cart_flex + .cart_flex {
  margin: 0 0 40px 0;
}
/*# sourceMappingURL=style.css.map */