@import "./variables";
@import "./_reset";
@import "./_general";
@import "./mixins";
@import "./blocks/header";
@import "./blocks/brand";
@import "./blocks/navigation";
@import "./blocks/offers";
@import "./blocks/products";
@import "./blocks/_attract";
//@import "./_bootstrap";

.container {
  width: 71%;
  margin: 0 auto;

  @include tablet {
    width: 95%;
  }

  @include mobile {
    .header_person-link__man,
    .header_person-link__cart {
      display: none;
    }
  }
}

:root {
  --dark-blue: #222222;
  --pink: #f1e4e6;
  --dark-pink: #f16d7f;
  --brown: #474040;
  --black: #222224;
  --white: #fbfbfb;
}

.subscribe_page {
  background-image: url(../img/subscribe.png);
  background-repeat: no-repeat;
  margin: 0 auto;
  background-size: cover;
}

.subscribe {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 450px;

  @include tablet {
    flex-direction: column;
    padding: 64px 0 219px 0;
  }

  @include mobile {
    flex-direction: column;
    padding: 64px 0 110px 0;
  }
}

.subscribe_face {
  width: 96px;
  height: 96px;
  background-color: #dbd2d2;
  background-image: url(../img/face.jpg);
  text-align: center;
  margin: 0 auto 30px;
  border-radius: 50%;
}

.subscribe_quote {
  flex-grow: 1;
  max-width: 360px;
}

.subscribe_card {
  flex-grow: 1;
}

.quote_text {
  font-size: 20px;
  line-height: 24px;
  text-align: center;
}

.quote_text__italic {
  font-style: italic;
}

.subscribe_title {
  font-weight: bold;
  font-size: 24px;
  line-height: 167.2%;
  text-transform: uppercase;
  text-align: center;
}

.subscribe_subtitle {
  font-weight: normal;
  font-size: 18px;
  line-height: 167.2%;
  text-transform: uppercase;
}

.subscribe_form {
  position: relative;
  margin-top: 32px;
  width: 340px;
  min-height: 49px;
  font-size: 14px;
  line-height: 17px;
}

.subscribe_input {
  min-height: 49px;
  padding: 6px 22px;
  border-top-left-radius: 22px;
  border-bottom-left-radius: 22px;
  border-right: none;
}

.subscribe_button {
  min-height: 65px;
  position: absolute;
  background-color: var(--dark-pink);
  color: var(--white);
  border-left: none;
  padding: 6px 22px;
  border-top-right-radius: 22px;
  border-bottom-right-radius: 22px;
}

.subscribe_button:hover {
  background-color: $white;
  color: $dark-pink;
  cursor: pointer;
}

.footer {
  background-color: var(--dark-blue);
  min-height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include mobile {
    flex-direction: column-reverse;
    padding: 43px 0 9px 0;
  }
}

.footer_text {
  font-size: 16px;
  line-height: 19px;
  color: var(--white);
}

.footer_list {
  display: flex;
}

.footer_item {
  width: 32px;
  height: 32px;
  margin: 0 0 0 5px;
}

.footer_link {
  fill: var(--white);
}

.footer_link:hover {
  fill: var(--dark-pink);
}

/* registration */

.preheader {
  min-height: 148px;
  background-color: var(--pink);
  display: flex;
  align-items: center;
}

.preheader_text {
  font-size: 24px;
  line-height: 29px;
  color: var(--dark-pink);
  text-align: left;
  text-transform: uppercase;
}

.registration {
  display: flex;
  margin: 64px auto 96px;

  @include mobile {
    flex-direction: column;
  }
}

.registration_form {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: var(--black);
  width: 50%;

  @include mobile {
    width: 100%;
  }
}

.registration_input {
  padding: 13px 18px;
}

.registraion_label {
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #b1b1b1;
  margin: 15px auto 39px;
  display: block;
}

.registration_field {
  width: 100%;
  min-height: 149px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.registration_input {
  display: block;
  margin: 20px 0 0 0;
}

.radio_label + .registration_radio {
  margin-left: 20px;
}

.registration_radio {
  margin: 31px 2px 31px 2px;
}

.radio_label {
  margin-right: 20px;
}

.registration_button {
  text-transform: uppercase;
  background-color: var(--dark-pink);
  color: var(--white);
  padding: 12px 50px 12px 12px;
  position: relative;
}

.registration_button__arrow {
  position: absolute;
  top: 13px;
  right: 10px;
}

.information {
  margin: 0 0 0 128px;
  width: 98%;

  @include tablet {
    margin: 0 0 0 22px;
  }

  @include mobile {
    margin: 40px 0 0 0px;
  }
}

.information_title {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 300;
  line-height: 19px;
  letter-spacing: 0em;
}

.information_text {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  margin: 32px 0 22px;
}

.information_list {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
}

.information_item {
  margin: 0 0 16px 28px;
  position: relative;
}

.information_item:before {
  content: url(../img/ok.svg);
  position: absolute;
  left: -28px;
}

/*            cart           */

@at-root .cart {
  margin: 96px auto 139px;
  display: flex;
  justify-content: space-between;

  @include tablet {
    flex-direction: column;
    align-items: center;
    margin: 59px auto 96px;
  }
}

.catalog {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 57%;

  @include tablet {
    width: 98%;
  }
}

.close {
  background-color: var(--white);
  border: none;
  align-self: baseline;
}

.cart_card {
  display: flex;
  margin-bottom: 40px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.cart_card + .cart_card {
  margin-bottom: 72px;
}

.cart_img {
  width: 41%;
  height: auto;
}

.card-description {
  padding: 22px 31px;
  width: 59%;

  @include mobile {
    padding: 5px 5px;
  }
}

.card-description_top {
  display: flex;
  justify-content: space-between;
}

.card-description_title {
  font-size: 24px;
  line-height: 29px;
  margin: 0 0 40px 0;
  max-width: 260px;
}

.card-description_text {
  font-size: 22px;
  line-height: 26px;
  color: #575757;
}

.square {
  margin: 0 0 0 24px;
  border: 1px solid #a4a4a4;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 1px 10px;
}

.cart_button {
  margin: 20px 0 0 0;
  text-transform: uppercase;
  width: 225px;
  padding: 10px 15px;
  font-weight: 300;

  border: 1px solid $brown;
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  background-color: $white;
  color: $black;
  text-decoration: none;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.cart_form {
  width: 32%;

  @include tablet {
    margin: 64px 0 0 0;
    display: flex;
    justify-content: space-between;
    width: 98%;
  }

  @include mobile {
    flex-direction: column;
  }
}

.cart_field {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 272px;

  @include mobile {
    width: 100%;
  }
}

.cart_title {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
}

.grey::placeholder {
  color: #b1b1b1;
}

.cart_sum {
  margin: 57px 0 0 0;
  background-color: #f5f3f3;
  padding: 39px 34px;

  align-self: center;

  @include mobile {
    width: 100%;
  }
}

.registration_button__width {
  width: 100%;
  padding: 12px 0px 12px 12px;
}

.cart_price {
  text-transform: uppercase;
  font-size: 11px;
  line-height: 13px;
  margin: 0 0 0 20px;
}

.cart_price__big {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
}

.cart_flex {
  justify-content: flex-end;
  display: flex;
  margin: 0 0 12px 0;
}

.cart_flex + .cart_flex {
  margin: 0 0 40px 0;
}
