.products {
  margin: 67px auto 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.products_title {
  font-size: 30px;
  line-height: 36px;
  text-align: center;
}

.products_subtitle {
  font-size: 14px;
  line-height: 17px;
  text-align: center;
}

.products_list {
  margin: 48px 0 0 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.products_item {
  width: 32%;
  min-height: 582px;
  display: flex;
  flex-direction: column;
  background-color: $white;
  margin: 0 0 30px 0;

  @include tablet {
    width: 49%;
  }

  @include mobile {
    width: 100%;
  }
}

.products_item_wrapper {
  position: relative;
}

.products_item_wrapper:hover {
  .products_overlay,
  .products_addCart {
    display: flex;
  }
}

.products_overlay {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  top: 0;
  position: absolute;
  display: none;
}

.products_img {
  width: 100%;
  height: auto;
}

.products_addCart {
  position: absolute;
  width: 140px;
  display: flex;
  justify-content: center;
  padding: 10px;
  border: 1px solid $white;
  font-size: 14px;
  line-height: 17px;
  color: $white;
  background-color: rgba(58, 56, 56, 0.86);
  top: 40%;
  left: 33%;
  display: none;
}

.products_addCart:hover {
  transform: scale(1.3);
}

.products_addCart__text {
  margin: 0 0 0 11px;
  align-self: center;
}

.products_card-about {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-grow: 1;
  padding: 0 0 0 16px;
  min-height: 160px;
}

.products_card-title {
  font-size: 13px;
  line-height: 16px;

  text-transform: uppercase;
}

.products_text {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5d5d5d;
}

.products_price {
  font-size: 16px;
  line-height: 19px;
  color: $dark-pink;
}

.products_button {
  font-size: 16px;
  line-height: 19px;
  color: $dark-pink;
  border: 1px solid $dark-pink;
  padding: 14px 39px;
  display: inline-block;

  margin: 10px auto 90px;
}

.products_button:hover {
  background-color: $dark-pink;
  color: $white;
}
